<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="6.0">
  <display-name>shoppingcart</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryServlet</display-name>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>servlets.CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/CategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductServlet</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>servlets.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartAdding</display-name>
    <servlet-name>CartAdding</servlet-name>
    <servlet-class>servlets.CartAdding</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartAdding</servlet-name>
    <url-pattern>/CartAdding</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCart</display-name>
    <servlet-name>UpdateCart</servlet-name>
    <servlet-class>servlets.UpdateCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCart</servlet-name>
    <url-pattern>/UpdateCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderServlet</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>servlets.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginFilter</display-name>
    <servlet-name>LoginFilter</servlet-name>
    <servlet-class>Filters.LoginFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginFilter</servlet-name>
    <url-pattern>/LoginFilter</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFil</display-name>
    <filter-name>LoginFil</filter-name>
    <filter-class>Filters.LoginFil</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFil</filter-name>
    <url-pattern>/LoginFil</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ServiceAvailable</display-name>
    <servlet-name>ServiceAvailable</servlet-name>
    <servlet-class>servlets.ServiceAvailable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceAvailable</servlet-name>
    <url-pattern>/ServiceAvailable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddressServlet</display-name>
    <servlet-name>AddressServlet</servlet-name>
    <servlet-class>servlets.AddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressServlet</servlet-name>
    <url-pattern>/AddressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductServletData</display-name>
    <servlet-name>ProductServletData</servlet-name>
    <servlet-class>servlets.ProductServletData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServletData</servlet-name>
    <url-pattern>/ProductServletData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>servlets.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
   
   
</web-app>